.Place {
    border-top: solid black 8px;
    height: 15rem;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.PlacePhoto{
    max-width: 100%;
    max-height: 100%;
}

.CameraIcon{
    display: block;
    width: 5rem;
    position: static;
}