.App {
    text-align: center;
}

.App-intro {
    font-size: large;
}

.Header {
    background: linear-gradient(45deg, #94D0FF, #8795E8, #AD8CFF, #C774E8, #FF6AD5);
    height: auto;
    color: white;
    align-items: baseline;
    padding: 1rem;
}